{% extends "base.html" %}
{% block content %}
  <h1>Database & Queries</h1>
  <ul>
    <li><a href="{{ url_for('generic_list', table='Location') }}">Location</a></li>
    <li><a href="{{ url_for('generic_list', table='Personnel') }}">Personnel</a></li>
    <li><a href="{{ url_for('generic_list', table='FamilyMember') }}">FamilyMember</a></li>
    <li><a href="{{ url_for('generic_list', table='ClubMember') }}">ClubMember</a></li>
    <li><a href="{{ url_for('generic_list', table='TeamFormation') }}">TeamFormation</a></li>
    <li><a href="{{ url_for('generic_list', table='Log') }}">Log</a></li>
  </ul>
{% endblock %}
