{% extends "base.html" %}
{% block title %}{{ action }} Location – Flask Demo{% endblock %}
{% block content %}
    <h1>{{ action }} Location</h1>

    <form method="post" class="row g-3">
        <div class="col-md-4">
            <label class="form-label">Name</label>
            <input name="name" value="{{ data.name if data else '' }}" class="form-control" required>
        </div>
        <div class="col-md-4">
            <label class="form-label">City</label>
            <input name="city" value="{{ data.city if data else '' }}" class="form-control" required>
        </div>
        <div class="col-md-4">
            <label class="form-label">Country</label>
            <input name="country" value="{{ data.country if data else '' }}" class="form-control" required>
        </div>

        <div class="col-12">
            <button class="btn btn-primary">{{ action }}</button>
            <a href="{{ url_for('location_list') }}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock %}
